.movies {
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.movies__button {
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 50px;
  margin-bottom: 80px;
  height: 36px;
  color: #000000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  transition: 1s;
  cursor: pointer;
  border-radius: 6px;
  background: #f9f9f9;
}
.movies__button:hover {
  opacity: 0.7;
}
