.saved-movies {
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
.saved-movies__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
