.project {
  background: #ffffff;
}
.project__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #000000;
  margin: 0px 70px 70px 70px;
  padding-top: 110px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
}
.project__content {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
}
.project__content_text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin: 0 0 26px 0;
}
.project__content_text:last-child {
  margin-bottom: 0;
}
.project__content_container {
  margin-right: 40px;
  margin-bottom: 110px;
}
.project__content_container:last-child {
  margin-right: 0;
}
.project__times {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 14px;
}
.project__time-backend {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
  width: 20%;
  height: 36px;
  background: #2be080;
  align-items: center;
  display: flex;
  justify-content: center;
}
.project__time-frontend {
  width: 80%;
  height: 36px;
  color: #000000;
  background: #f2f2f2;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.project__direction {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 110px;
}
.project__direction_backend {
  width: 20%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
}
.project__direction_frontend {
  width: 80%;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  text-align: center;
  color: #a0a0a0;
}
