.footer {
  background: #fafafa;
  min-height: 172px;
  padding-left: 70px;
  padding-right: 70px;
}
.footer__text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
  margin-top: 79px;
  margin-bottom: 20px;
  color: #a0a0a0;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.footer__year {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
  margin: 0;
}
.footer__links {
  display: flex;
}
.footer__link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: right;
  color: #000000;
  margin: 0;
  margin-right: 20px;
  transition: 1s;
  cursor: pointer;
  text-decoration: none;
}
.footer__link:last-child {
  margin-right: 0;
}
.footer__link:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
    background: #ffffff;
  }
}
@media screen and (max-width: 400px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer__text {
    font-size: 12px;
    line-height: 14.52px;
    padding-bottom: 21px;
    margin-bottom: 30px;
  }
  .footer__bottom {
    justify-content: center;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
  .footer__links {
    flex-direction: column;
  }
  .footer__link {
    font-size: 12px;
    line-height: 14.52px;
    margin-right: 0;
    margin-bottom: 12px;
    text-align: center;
  }
  .footer__link:last-child {
    margin-bottom: 30px;
  }
  .footer__year {
    color: #a0a0a0;
    text-align: center;
    font-size: 12px;
    line-height: 14.52px;
  }
}
